In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
data1 = data[data["Attrition"] == "Yes"]
data2 = data[data["Attrition"] == "No"]

# Problem Statement 1

H0: There is no significant differnce in the employee's age and Attrition.(Null hypothesis)

H1: There is significant differnce in the employee's age and Attrition.(Alternate hypothesis)

In [5]:
from scipy.stats import mannwhitneyu
stats1,p1=mannwhitneyu(data1.Age,data2.Age)
print("Critical value:",stats1)
print("p value:",p1)

Critical value: 961731.0
p value: 2.99515884791e-30

# Conclusion:

Clearly, the p value<0.05 so null hypothesis is rejected and alternate hypothesis is accepted i.e There is significant differnce in the employee's age and Attrition.

# Problem Statement 2

H0: There is no significant differnce in employee's job level and Attrition.(Null hypothesis)

H1: There is significant differnce in employee's job level and Attrition.(Alternate hypothesis)

In [7]:
from scipy.stats import mannwhitneyu
stats4,p4=mannwhitneyu(data1.JobLevel,data2.JobLevel)
print("Critical value:",stats4)
print("p value:",p4)

Critical value: 1309131.0
p value: 0.421132653083

# Conclusion:

Clearly, the p value>0.05 so null hypothesis is accepted and alternate hypothesis is rejected i.e There is no significant differnce in employee's job level and Attrition.

# Problem Statement 3

H0: There is no significant differnce in employee's number of years with current manager and Attrition.(Null hypothesis)

H1: There is significant differnce in employee's number of years with current manager and Attrition.(Alternate hypothesis)

In [8]:
from scipy.stats import mannwhitneyu
stats3,p3=mannwhitneyu(data1.YearsWithCurrManager,data2.YearsWithCurrManager)
print("Critical value:",stats3)
print("p value:",p3)

Critical value: 957253.5
p value: 1.23654831422e-31

# Conclusion:

Clearly, the p value<0.05 so null hypothesis is rejected and alternate hypothesis is accepted i.e There is significant differnce in employee's number of years with current manager and Attrition.

# Problem Statement 4

H0: There is no significant differnce in distance from home and Attrition.(Null hypothesis)

H1: There is significant differnce in distance from home and Attrition.(Alternate hypothesis)

In [9]:
from scipy.stats import mannwhitneyu
stats4,p4=mannwhitneyu(data1.DistanceFromHome,data2.DistanceFromHome)
print("Critical value:",stats4)
print("p value:",p4)

Critical value: 1312110.0
p value: 0.462918520582

# Conclusion:

Clearly, the p value>0.05 so null hypothesis is accepted and alternate hypothesis is rejected i.e There is no significant differnce in distance from home and Attrition.

# Problem Statement 5

H0: There is no significant differnce in employee's education level and Attrition.(Null hypothesis)

H1: There is significant differnce in employee's education level and Attrition.(Alternate hypothesis)

In [10]:
from scipy.stats import mannwhitneyu
stats5,p5=mannwhitneyu(data1.Education,data2.Education)
print("Critical value:",stats5)
print("p value:",p5)

Critical value: 1280146.5
p value: 0.120354772154

# Conclusion:

Clearly, the p value>0.05 so null hypothesis is accepted and alternate hypothesis is rejected i.e There is no significant differnce in employee's education level and Attrition.

# Problem Statement 6

H0: There is no significant differnce in employee's job level and Attrition.(Null hypothesis)

H1: There is significant differnce in employee's job level and Attrition.(Alternate hypothesis)

In [12]:
from scipy.stats import mannwhitneyu
stats6,p6=mannwhitneyu(data1.JobLevel,data2.JobLevel)
print("Critical value:",stats6)
print("p value:",p6)

Critical value: 1309131.0
p value: 0.421132653083

# Conclusion:

Clearly, the p value>0.05 so null hypothesis is accepted and alternate hypothesis is rejected i.e There is no significant differnce in employee's job level and Attrition.

# Problem Statement 7

H0: There is no significant differnce in employee's number of companies worked and Attrition.(Null hypothesis)

H1: There is significant differnce in employee's number of companies worked and Attrition.(Alternate hypothesis)

In [18]:
from scipy.stats import mannwhitneyu
stats7,p7=mannwhitneyu(data1.NumCompaniesWorked,data2.NumCompaniesWorked)
print("Critical value:",stats7)
print("p value:",p7)

Critical value: 1255531.5
p value: 0.0248808799812

# Conclusion:

Clearly, the p value<0.05 so null hypothesis is rejected and alternate hypothesis is accepted i.e There is significant differnce in employee's number of companies worked and Attrition.

# Problem Statement 8

H0: Employee's gender does not have any significant effect over Attrition.(Null hypothesis)

H1: Employee's gender have significant effect over Attrition.(Alternate hypothesis

In [30]:
chitable1=pd.crosstab(data.Attrition,data.Gender)
chitable1

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [34]:
from scipy.stats import chi2_contingency
stats8,p8,dof,expeted=chi2_contingency(chitable1)
print("Critical value:",stats8)
print("p value:",p8)

Critical value: 1.34990441025
p value: 0.245294828629

# Conclusion: 

Clearly, the p value>0.05 so null hypothesis is accepted and alternate hypothesis is rejected i.e Employee's gender does not have any significant effect over Attrition.

# Problem Statement 9

H0: Employee's department does not have any significant effect over Attrition.(Null hypothesis)

H1: Employee's department have significant effect over Attrition.(Alternate hypothesis)

In [32]:
chitable2=pd.crosstab(data.Attrition,data.Department)
chitable2

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [35]:
stats9,p9,dof,expeted=chi2_contingency(chitable2)
print("Critical value:",stats9)
print("p value:",p9)

Critical value: 29.0902749245
p value: 4.82088821817e-07

# Conclusion:

Clearly, the p value<0.05 so null hypothesis is rejected and alternate hypothesis is accepted i.e Employee's department have significant effect over Attrition.


# Problem Statement 10

H0: Employee's education field does not have any significant effect over Attrition.(Null hypothesis)

H1: Employee's education field have significant effect over Attrition.(Alternate hypothesis)

In [36]:
chitable3=pd.crosstab(data.Attrition,data.EducationField)
chitable3

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1515,402,1167,216,351
Yes,33,303,75,225,30,45

In [37]:
stats10,p10,dof,expeted=chi2_contingency(chitable3)
print("Critical value:",stats10)
print("p value:",p10)

Critical value: 46.1949210017
p value: 8.28891746957e-09

# Conclusion:

Clearly, the p value<0.05 so null hypothesis is rejected and alternate hypothesis is accepted i.e Employee's education field have significant effect over Attrition.