__Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.__

In [48]:
email_id = str(input("Enter valid Email id: " ))
company_name = email_id.split("@")[1]
x = company_name.split(".")[0]                               
print(x)

Enter valid Email id: john@google.com
google

__Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.__

In [2]:
items = input("enter comma separated sequence of words: ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

enter comma separated sequence of words: without,hello,bag,world
bag,hello,without,world

__Question 3:
Create your own Jupyter Notebook for Sets.__

## Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [28]:
set1 = {12,23,45,44,645,788,646,757}
print(set1)

{645, 646, 12, 45, 44, 788, 757, 23}

In [29]:
#add
set1.add(2020)
print(set1)

{2020, 645, 646, 12, 45, 44, 788, 757, 23}

In [30]:
#clear
set1.clear()
print(set1)

set()

In [31]:
#update
set = {"apple", "banana", "cherry"}
set.update(["orange", "mango", "grapes"])
print(set)

{'mango', 'banana', 'apple', 'orange', 'cherry', 'grapes'}

In [32]:
#copy
set2 = set.copy()
print(set2)

{'orange', 'cherry', 'mango', 'banana', 'grapes', 'apple'}

In [33]:
set.difference()

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [34]:
#difference
X = {"hello", 9, 10, "hi"}
Y = {9, "hi", 6, "BeginnersBook"}
z = X.difference(Y)
print(z)

{10, 'hello'}

In [36]:
print(set1)
print(set)

set()
{'mango', 'banana', 'apple', 'orange', 'cherry', 'grapes'}

In [ ]:
#discard
set.discard("cherry")
print(set)

In [37]:
#intersection
X = {"hello", 9, 10, "hi"}
Y = {9, "hi", 6, "BeginnersBook"}
z = X.intersection(Y)
print(z)

{9, 'hi'}

In [41]:
#pop
A ={'a', 'b', 'c', 'd'}

print(A.pop())
print(A)

a
{'b', 'd', 'c'}

In [42]:
#remove
set = {"apple", "banana", "cherry"}
set.remove("banana")
print(set)

{'cherry', 'apple'}

In [43]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

result = A.symmetric_difference_update(B)
print(result)

None

In [44]:
#union
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
print(A.union(B))

{'a', 2, 'c', 'd'}

In [47]:
#update
A = {'a', 'b'}
B = {1, 2, 3}

print(A.update(B))

None
<class 'set'>

__Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.__

In [3]:
def missingNo(A):
    n = len(A)
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 


A = [1, 2, 4, 6, 3, 7, 8] 
num = missingNo(A) 
print(int(num))

5

__Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.__

In [4]:
l = [12, 24, 35, 24 ,88 ,120, 155, 88, 120,155]

print(sorted(list(set(l))))

[12, 24, 35, 88, 120, 155]